@model Hospital.Detail

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Detail</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.PatientDeasis, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientDeasis)
                @Html.ValidationMessageFor(model => model.PatientDeasis)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BloodTest, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BloodTest)
                @Html.ValidationMessageFor(model => model.BloodTest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UrinTest, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrinTest)
                @Html.ValidationMessageFor(model => model.UrinTest)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherTest1, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherTest1)
                @Html.ValidationMessageFor(model => model.OtherTest1)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherTest2, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherTest2)
                @Html.ValidationMessageFor(model => model.OtherTest2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OtherTest3, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OtherTest3)
                @Html.ValidationMessageFor(model => model.OtherTest3)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PatientRoomNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PatientRoomNumber)
                @Html.ValidationMessageFor(model => model.PatientRoomNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AppointedDoctor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AppointedDoctor)
                @Html.ValidationMessageFor(model => model.AppointedDoctor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdmitDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdmitDate)
                @Html.ValidationMessageFor(model => model.AdmitDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
